*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; /*makes no additional margins and paddings be addded to the border of the box*/
}
.header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: #e3f0f9;
  height: 60px;
  padding: 10px;
  width: 100%;
  top: 0;
  z-index: 1;
}

.header__title {
  color: #afd0e9;
  border-width: 5px;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 90px 0 45px 0;
  font-family: monospace;
  background-color: #ffffff;
  font-size: 1rem;
}

main {
  margin: 80px 20px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}

footer {
  display: flex;
  /* align-items: center; */
  box-sizing: border-box;
  justify-content: space-around;
  /* text-align: center; */
  position: fixed;
  background-color: #e3f0f9;
  color: #ffffff;
  height: 70px;
  width: 100%;
  bottom: 0;
  z-index: 1;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.nav-bar__list-item {
  list-style-type: none;
  float: left;
}

.list-item__link {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.list-item__link:hover {
  background-color: rgba(175, 208, 233, 0.737);
}

.active {
  background-color: #afd0e9;
}
