.profile {
  display: grid;
  position: relative;
  display: flex;
  flex-flow: column wrap;
}
.profile__image {
  display: grid;
  margin-bottom: 10px;
  justify-content: flex-start;
  display: flex;
}
.profile__info {
  display: grid;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;
}
.profile__name {
  display: grid;
  display: flex;
  margin-bottom: 10px;
  /* flex-direction: row; */
  position: relative;
  /* align-items: center; */

  justify-content: flex-start;
}

.profile__description {
  display: grid;
  grid-column: 3 / 4;
  font-family: inherit;
  border-style: double;
  border-width: 5px;
  border-color: #8181db;
  background-color: #afd0e9;
  color: #8181db;
  border-radius: 15px;
  text-align: right;
  margin: 10px 0px 10px 0px;
  padding: 10px;
}

.counter__btns {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
}

.counter__btn {
  font-family: inherit;
  border-style: double;
  border-width: 5px;
  box-shadow: 5px 5px #8181db;
  border-color: #afd0e9;
  background-color: #afd0e9;
  color: #8181db;
  position: relative;
  height: 45px;
  width: 35px;
  text-align: end;
  margin: 10px 10px 20px 10px;
  border-radius: 10px;
}
.settings__title {
  position: relative;
  display: flex;
  text-align: center;
  justify-content: flex-end;
  margin: 10px;
}

.settings {
  position: relative;
  justify-content: flex-end;
  flex-direction: column;
  display: flex;
}

.setting__dark-mode {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.dark-mode__btn {
  text-align: center;
  display: flex;
  background-color: transparent;
  height: 45px;
  width: 35px;
  border-color: transparent;
  justify-content: flex-end;
  align-items: center;
}
