*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; /*makes no additional margins and paddings be addded to the border of the box*/
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px 0 45px 0;
  font-family: monospace;
  background-color: #ffffff;
  font-size: 0.7rem;
}

.header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: #e3f0f9;
  border-width: 5px;
  color: #afd0e9;
  height: 60px;
  padding: 10px;
  width: 100%;
  top: 0;
  z-index: 1;
}

main {
  margin: 80px 20px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}

.card {
  border-width: 6px;
  border-color: #afd0e9;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  border-style: double;
  text-align: center;
  justify-content: center;
  margin: 15px 80px;
  border-radius: 20px;
  padding: 20px 20px;
  background-color: #e6e6fa;
  box-shadow: 10px 10px #8181db;
}
.bookmark {
  position: absolute;
  margin-top: 10px;
  margin-right: 5px;
  top: 0;
  right: 0;
}
.btn-bookmark {
  position: absolute;
  border: 0;
  background-color: transparent;
  top: 0;
  right: 0;
  height: fit-content;
  width: fit-content;
  /* z-index: 1; */
}

.question {
  position: relative;
  border: 20px;
  padding: 20px;
}

.btn-show-answer {
  font-family: inherit;
  border-style: double;
  border-width: 5px;
  box-shadow: 5px 5px #8181db;
  border-color: #afd0e9;
  background-color: #afd0e9;
  color: #8181db;
  position: relative;
  height: 30px;
  width: 100px;
  align-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.tags {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hashtag {
  margin: 3px 3px;
  padding: 3px;
  color: white;
  text-decoration: none;
  background-color: #8181db;
  border-radius: 5px;
}

footer {
  display: flex;
  /* align-items: center; */
  box-sizing: border-box;
  justify-content: space-around;
  /* text-align: center; */
  position: fixed;
  background-color: #e3f0f9;
  color: #ffffff;
  height: 80px;
  width: 100%;
  bottom: 0;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}

li {
  list-style-type: none;
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #afd0e9;
}

.active {
  background-color: #afd0e9;
}

.profile-info {
  position: relative;
  display: flex;
  flex-flow: nowrap;
}

.profile-name {
  display: flex;
  align-items: center;
  padding: 40px;
}
.profile-image {
  padding: 10px;
  margin-bottom: 10px;
  justify-content: center;
  text-align: center;
  align-content: center;
  display: flex;
  flex-flow: row wrap;
}

.profile-description {
  border: dashed;
  padding: 10px 10px;
  margin: 10px 10px;
  text-align: center;
}
