*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; /*makes no additional margins and paddings be addded to the border of the box*/
}

html {
  font-size: 100%; /* we defined the root font size, so that all the other font sizes on the page will follow the root font size by inheritance. Therefore we will define the other (children) font sizes in rem. 1 rem = 10px and so on*/
}

body {
  display: flex;
  flex-direction: column;
  margin: 80px 0 45px 0;
  font-family: system-ui;
}

.header {
  text-align: center;
  position: fixed;
  background: rgba(175, 184, 193);
  color: #ffffff;
  height: 80px;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

main {
  margin: 80px 20px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
}

.card {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  border-style: double;
  text-align: center;
  justify-content: center;
  margin: 10px 80px;
  border-radius: 20px;
  padding: 20px 20px;
}
.bookmark {
  position: absolute;
  margin-top: 10px;
  margin-right: 5px;
  top: 0;
  right: 0;
}
.btn-bookmark {
  position: absolute;
  border: 0;
  background-color: transparent;
  top: 0;
  right: 0;
  height: fit-content;
  width: fit-content;
  /* z-index: 1; */
}

.question {
  position: relative;
  border: 20px;
  padding: 20px;
}

.btn-show-answer {
  position: relative;
  height: 30px;
  width: 100px;
  align-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
}

.tags {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hashtag {
  margin: 3px 3px;
  padding: 3px;
  color: white;
  text-decoration: none;
  background-color: grey;
  border-radius: 5px;
}

footer {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  text-align: center;
  position: fixed;
  background: rgb(175, 184, 193);
  color: #ffffff;
  height: 80px;
  width: 100%;
  bottom: 0;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  position: relative;
}

li {
  list-style-type: none;
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: black;
}

.active {
  background-color: aqua;
}
